body {
  background: url('background/cuisine.jpg');
  background-repeat:no-repeat;
  background-size: cover;
background-attachment: fixed;

}

#feed_me{
	position:relative;
	top:0px;
	left:500px;}
	#start{
		position:relative;
		top:350px;
		left:150px;
	}
	#start:hover{
	content:url(start_hover.png);