body {
  background: url('background/background_1.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.fill {
  background-image: url('food/broccoli.png');
  position: absolute;
  height: 100px;
  width: 100px;
  top: 60%;
  left: 60%;
  cursor: pointer;
}
.fill_2 {
  background-image: url('food/caca.png');
  position: absolute;
  height: 100px;
  width: 100px;
  top: 60%;
  left: 70%;
  cursor: pointer;
}

.hold {
  opacity:50%;
}

.empty {
  display: inline-block;
  height: 250px;
  width: 250px;
  margin: 10px;
}

.hovered {
  opacity: 50%;
}

.rempli{
  background-image: url('Bou/bou_non_50pixel.gif');
  position: absolute;
  height: 250px;
  width: 250px;
  top: 45%;
  left: 30%;

}
.bou{
  background-image: url('Bou/bou_statique.gif');
  position: absolute;
  height: 250px;
  width: 250px;
  top: 45%;
  left: 30%;
}

.bouMiam{  }

.next{
  background-image: url('nextlevel.gif');
  position:absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height:328px;
  width:500px;
  display:inline-block;
  position:absolute;
  z-index:1000;
  opacity:0;
  visibility:hidden;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
   -webkit-animation-duration: 2s;
   animation-delay:30s;
  }
        @keyframes fadein{
    0% { opacity:0; visibility:hidden;}
    66% { opacity:0; visibility:hidden;}
    100% { opacity:1; visibility:visible;}
}

@-webkit-keyframes fadein{
    0% { opacity:0; visibility:hidden; }
    66% { opacity:0; visibility:hidden;}
    100% { opacity:1; visibility:visible; }
}
}
