
.next{
  background-image: url('nextlevel.gif');
  position:relative;
  height:328px;
  width:500px;
  display:inline-block;
  position:relative;
  z-index:1000;
  opacity:0;
  visibility:hidden;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
   -webkit-animation-duration: 2s;
   animation-delay:1s;
  }
        @keyframes fadein{
    0% { opacity:0; visibility:hidden;}
    66% { opacity:0; visibility:hidden;}
    100% { opacity:1; visibility:visible;}
}

@-webkit-keyframes fadein{
    0% { opacity:0; visibility:hidden; }
    66% { opacity:0; visibility:hidden;}
    100% { opacity:1; visibility:visible; }
}
}